<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Sistem Pemantauan
    </title>
    <link rel="stylesheet" type="text/css" href="/css/lib/vis-network.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
    <script type="text/javascript" src="/js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/vis-network.min.js"></script>
    <script type="text/javascript" src="/js/lib/socket.io.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ProyekAkhir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Topologi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/grafik">Grafik</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/laporan">Laporan</a>
                </li>
            </ul>
        </div>
    </nav>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <div class="container">
        <div class="col">
            <br>
            <b>Summary Report</b>
            <hr style='margin:0.5em 0;border: 1px solid black'>
            <br> Jumlah Switch Terhubung : 7
            <br> Jumlah Host Terhubung : 4
            <br> Jumlah Link : 21

            <br>
            <br>Tampilkan Laporan
            <br> <input type="radio" name="periode" id="periode" value="a">
            Periode
            <select name="per" id="per">
                <option value="1">Bulan ini</option>
            </select>
            <br> <input type="radio" name="periode" id="periode" value="b">
            Jangka waktu dari <input type="date" name="dari" id="dari"> hingga <input type="date" name="ke" id="ke">
            <br> <button type="button" class="btn btn-primary" onclick="buat_tabel()">Go</button>
            <br>
            <div class="daftar-sw">
                <br> DPID : 0000d2f04eaeca4e
                <br> IP Address : 192.168.111.1
                <br> Link Speed : 10 Mbps
                <table>
                    <tr>
                        <th rowspan="2">Port</th>
                        <th colspan="3">Throughput (KB/s) / Utilization (%)</th>
                        <th rowspan="2">Total Bytes</th>
                    </tr>
                    <tr>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Avg</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>5000 (100%)</td>
                        <td>0 (0%)</td>
                        <td>2500 (50%)</td>
                        <td>10 MB</td>
                    </tr>
                </table>
                <br><button type="button" class="btn btn-primary">Cetak Laporan</button>
            </div>
        </div>
    </div>
</body>

</html>